{% comment %}
  Renders custom product options (like Acrylic POD)
  These are added as line item properties, not variants
{% endcomment %}

<div class="product-option-section">
  <div class="option-label">ACRYLIC POD</div>
  <div class="option-buttons custom-option-buttons" data-property-name="Acrylic POD">
    <button 
      type="button"
      class="option-button selected"
      data-pod="rectangle-delta"
      data-property-value="Rectangle w/ Delta Logo"
    >
      <span class="option-name">Rectangle w/ Delta Logo</span>
    </button>
    <button 
      type="button"
      class="option-button"
      data-pod="curve-no-tab"
      data-property-value="Curve w/o Tab"
    >
      <span class="option-name">Curve w/o Tab</span>
    </button>
    <button 
      type="button"
      class="option-button"
      data-pod="curve-with-tab"
      data-property-value="Curve w/ Tab"
    >
      <span class="option-name">Curve w/ Tab</span>
    </button>
  </div>
  
  {%- comment -%} Hidden input to store the selected custom option {%- endcomment -%}
  <input 
    type="hidden" 
    name="properties[Acrylic POD]" 
    id="acrylic-pod-input" 
    value="Rectangle w/ Delta Logo"
  >
</div>

